* {
   margin: 0;
   padding: 0;
   font-family: 'Lato', sans-serif;
   box-sizing: border-box;
}

.contianer {
max-width: 1170px;
margin: 0 auto;
}
  
  .menu-items {
line-height: 60px;
font-size: 18px;
display: inline-block;
list-style: none

 }
.menu-items a, a:visited,a:link {

}

 .flex-col-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
 }

.flex-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
 }

.header-cont {
  color:#414859;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  font-weight:white;
  z-index: 1000;
}

 .header-img {
  padding: 15%;
  text-align: center; 
  background-image: url('images/beach-4161593_1920.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  max-height: 400px;
  text-align: center;
  color: #fff;
}

.header-img2 {
  padding: 15%;
  text-align: center; 
  background-image: url('images/afafa4.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  max-height: 400px;
  text-align: center;
  color: #fff;

}

.lang_gallery {
  padding: 15%;
  text-align: center; 
  background-image: url('images/beach-4161593_1920.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  text-align: center;
  color: #fff;
  max-height: 300px;
  position: relative;
}

.lang_penge {
  padding: 15%;
  text-align: center; 
  background-image: url('images/quotesdesign.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  text-align: center;
  color: #fff;
  max-height: 300px;
  position: relative;
  background-size:cover;
}
.maleboge_gallery {
padding: 15%;
  text-align: center; 
  background-image: url('images/malebog1.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  text-align: center;
  color: #414859;
  max-height: 300px;
  position: relative;
  background-size:cover;
  background-repeat:no-repeat;
}

 .malebog-img-cont {
  display: flex;
  flex-wrap: wrap;
flex-direction: row;

 }


.lang_afafa {
  padding: 15%;
  text-align: center; 
  background-image: url('afafa2.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  text-align: center;
  color: #414859;
  max-height: 300px;
}

 .header-img,.header-img2 h2 {
  font-weight: 30px;
}

.main-header li{
  padding: 0 20px;
  font-size: 1rem;
}

.logo {
  color: #414859;
  line-height: 70px;
  font-weight: bold;
  font-size: 2rem;
}

.service span.icons {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #f8f8f8;
  display: block;
  position: relative;
  margin: 0 auto;
}
.service span.icons:hover{
  border-color:#191E34;

}

.fa:hover {
  color:#191E34;

}

.service span i {
  font-size: 36px;
  line-height: 102px;
  margin: 0;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  line-height: 1;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #414859;
}
.service {
  flex-basis: 350px;
  text-align: center;
  font-size: 18px;
  color: #414859;
}

.service a, a:link, a:visited {
  text-decoration: none;
  color: #39435c;
  cursor: default;
}


.menu-items.selected {
  border-bottom: 3px solid #414859;
}
.services-cont {
  max-width: 100%;
}
.services-list span {
  font-family: 'tangerine',cursive;
  font-size:20px;
  margin: 0 auto;
}
.services-list {
  padding: 10% 5%;
  text-align: center;
}
.services-header {
  margin-bottom: 20px;  
}
.services-header h2 {
  color: #414859;
}
.services-header span {
  font-size:35px;
  color: #414859;
}
.clip-svg {
-webkit-clip-path: polygon(5% 0, 100% 0%, 100% 100%, 68% 100%);
clip-path: polygon(5% 0, 100% 0%, 100% 100%, 64% 100%);  
background: linear-gradient(135deg,#9ac5cc 0,#6ea0a8 100%);
width: 100%;
position: absolute;
top: 0;
left: 0;
min-height: 450px;
z-index: 0;
}

.glass-cont {
  position: relative;
  overflow: hidden;
  max-height: 450px;
}
.discount-cont {
  flex-flow: column nowrap;
  margin: 2% 1% 5% 46%;
  display: flex;
  color: white;
  font-size:30px;
  text-align: center;
  max-width: 900px;
  padding: 5px 10px;
  color: #fff;
  letter-spacing: 1px;
}

.world-wide-cont {
  padding: 5% 0 5% 0;

}
.world-wide-text {
   /*flex-basis: 60%; */
  padding-top: 2%;
  font-size:22px;
  color: #414859;
  letter-spacing: 2px;
  max-width: 670px;
  text-align: justify;
}
.world-wide-text h3 {
  font-size: 28px;
  padding-bottom: 1%;
}
.paralex-cont{
  background: url(magiclongland_paralex.JPG);
  background-attachment:fixed;
  height:300px;
}
.paralex-text{
  color: white;
  text-align: center;
  padding-top: 5%;
}
.paralex-text p {
  line-height: 68px;
  font-size:38px;
}
.paralex-text a {
  text-decoration: none;
  line-height: 50px;
  padding: 15px 25px;
  text-transform: uppercase;
  background-color: white;
  margin-top: 10%;
  border-radius: 2px;
}
.alaki {
  width: 400px;
  height: 600px;
}
.grid-cont {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin: 5% 0;
}
.contact-text {
 grid-column: 1 / 3;
 grid-row: 1 / 2;
 text-align: center;
 font-size: 28px;
}
.contact-info-cont {
grid-column: 1/2;
grid-row: 2/2;
}
.contact-info-cont ul li{ list-style: none; }
.contact-form-cont{
grid-column: 2/2;
grid-row: 2/2;
}
.form-element{
  box-sizing: border-box;
  width: 45%;
  padding: 10px 20px;
  background-color:white;
  margin: 15px 10px;
  border: 1px solid #ddd;
}

.full-width {
  width: 100%;
}

.menu-items.clicked {
	color: red;
}
.footer-header {
  font-size: 1.7em;
  color: #fff;
  text-align: center;
  padding:2% 0;
}
.footer {
  background-color: #4c4c4c;
  padding: 0 15px 10px 0;;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-os {
  list-style: none;
}
.contact-os li {
  font-family: 'Lato', sans-serif!important;
  color: white;
}

.info-white {
  color:#fff!important;
  font-size: 16px!important;
  font-weight: bold!important;
  line-height: 32px!important;
  letter-spacing: 1px;
  }


.afafa-cont{
  background: url(afafa2.jpg);
  background-position-x: -340px;
  height:500px;
}
.afafa-text{
  color: #414859;
  text-align: right;
  padding-top: 5%;
}
.afafa-text p {
  line-height: 68px;
  font-size:38px;
}
.afafa-text a {
  text-decoration: none;
  line-height: 50px;
  padding: 15px 25px;
  text-transform: uppercase;
  background-color: #414859;
  margin-top: 10%;
  border-radius: 2px;
  color: white;
}

.contianer-img-gal {

  max-width: 1170px;
  margin: 15px auto;
}

*{
  margin:0px;
  padding:0px;
}

.circular-sb {
  width: 250px;
  border: 5px solid #414859;
  padding: 80px 0px;
  margin: 30px auto;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  font-family: arial;
  position: relative;
  color: #414859;
}

.circular-sb-big {
  width: 350px;
  border: 5px solid #414859;
  padding: 80px 0px;
  margin: 30px auto;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  font-family: arial;
  position: relative;
  color: #414859;
}

.circle3 {
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  left: -10px;
  bottom: 10px;
}

.circle3:before {
  content: "";
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: -15px;
  bottom: 15px;
  background: #fff;
  border: 5px solid #414859;

}

.circle4 {
  border: 5px solid #414859;
  position: absolute;
  width: 5px;
  padding: 10px 15px;
  border-radius: 50%;
  left: -60px;
  bottom: 5px;
}

.bubble-cont {
  width:400px;
  height:400px;
  float:right;
  margin-top:-120px;
}
.bubble-cont2 {
  width:400px;
  height:400px;
  float:left;
  margin-top:-180px;
}


.circle1 {
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: -15px;
  bottom: 23px;
}

.circle1:before {
  content: "";
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  background: #fff;
  border: 5px solid #414859;
}

.circle2 {
  border: 5px solid #414859;
  position: absolute;
  width: 5px;
  padding: 10px 15px;
  border-radius: 50%;
  right: -60px;
  bottom: 5px;
}

.afafa-long-text {
font-family: 'Lato', sans-serif;
line-height: 1.6666666667;
font-size: 1.25rem;
text-align: justify;
margin: 2% 0;
}

.highlight-text {
  font-size: 1.5rem;
  border-bottom: 5px solid #414859;
  border-top: 5px solid #414859;
  padding: 15px 5px;
  margin: 20px 0px;
  line-height: 2.5rem;
}

.greenback{
  width: 100%;
  overflow: hidden;
  background-color: #49F184;
}

.greenbackwithshape {
  background-image: url(images/colored/coloredbook2.jpg);
  background-position-x: -180px;
  width: 100%;
}
.vision-header {

  font-size: 2rem;
  padding: 15px 5px;
  border-bottom: 5px solid #414859;
  text-align: center;
  margin: 15px 0px;
  color: #414859;
}
.fortest {

  width: 600px;
  height: 400px;
 background: linear-gradient(270deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
background-size: 800% 800%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;

}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.free-images {
  position: absolute;
  top:90%;
  left:2%;
  font-size: 10px;
}

@media only screen (min-width: 800px) and (max-width: 1036px) {
  .flex-cont {
    background-color: white;
  }
  .lang_penge {
    margin-top: 10%;
  }
}



@media only screen and (min-width: 438px) and (max-width: 800px) {
  .flex-cont {
    background-color: white;
  }
  .lang_penge {
    margin-top: 40%;
  }
  .oval-speech, .oval-speech2 {
    display: none;
  }
}

@media only screen and (max-width: 438px) {
   .flex-cont {
    background-color: #6FD7FA;
    width: 350px;
  }

  .lang_penge {
    margin-top: 35%;
  }
  .blockquote p{
    font-size: 16px;
  }
  .oval-speech, .oval-speech2 {
    display: none;
  }
  .afafa-long-text img {
    max-width: 350px;
  }
  .logo img {
    width: 80px;
    }
  .header-img2 {
    background-image:none;
    background-color: #6FD7FA;
  }
  .main-header li {
    padding: 0 5px;
  }
  .maleboge_gallery {
    background-image:none;
    background-color: #6FD7FA;
    height: 120px;
    overflow: hidden;

  }
  .maleboge_gallery h2 { font-size: 20px;  }
  .menu-items {
    line-height: 30px;
  }
  .lang_gallery {
    background-image:none;
    height: 120px;
    overflow: hidden;
    }
  .lang_gallery h2 { font-size: 20px;  }
    .contact-os { margin-left: 5%; }
    .glass-cont { overflow: visible; height: 100%; }
    .glass-cont img { width: 0; }
    .clip-svg {clip-path: none; -webkit-clip-path: none;}
    .discount-cont { margin: 0px; }
    .world-wide-text { margin-top: 200%; }
    .world-wide-image img { max-width: 350px; }
    .world-wide-cont {     margin-top: 70%; }
    .paralex-text a { background-color:grey; }
    .afafa-text p { line-height: 20px; font-size: 16px;margin-top: 60px;text-align: center;}
    .afafa-cont { background-image:none; height: 300px; }
    .lang_afafa {background-image:none;}

}

.mission-cont {

  margin-bottom: 5%;
}


.blockquote {
    position:relative;
    padding:10px 45px;
    font-size:60px;
    font-weight: lighter;
}
.blockquote:before, .blockquote:after {
    content:'\f10d';
    font-family:'FontAwesome';
    font-size:30px;
    position:absolute;
    top:5px;
    left:8px;
    display:block;
}
.blockquote:after {
    content:'\f10e';
    bottom:0;
    right:8px;
    top:auto;
    left:auto;
}


.oval-speech {
  position:absolute;
  width:290px;
  padding:50px 40px;
  text-align:center;
  color:#fff;
  background:#5a8f00;
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffdd00), to(#ff7d00));
  background:-moz-linear-gradient(#ffdd00, #ff7d00);
  background:-o-linear-gradient(#ffdd00, #ff7d00);
  background:linear-gradient(#ffdd00, #ff7d00);
  -webkit-border-top-left-radius:220px 120px;
  -webkit-border-top-right-radius:220px 120px;
  -webkit-border-bottom-right-radius:220px 120px;
  -webkit-border-bottom-left-radius:220px 120px;
  -moz-border-radius:220px / 120px;
  border-radius:220px / 120px;
  top: -85%;
  left: 60%;
}

.oval-speech p {font-size:1.25em;}

.oval-speech::after {
    content: "";
    position: absolute;
    bottom: -45px;
    left: 140px;
    border-width: 0 0 50px 20px;
    border-style: solid;
    border-color: transparent #ff8400;
    display: block;
    width: 0;
}


.oval-speech2 {
  position:absolute;
  width:370px;
  padding:50px 40px;
  text-align:center;
  color:#fff;
  background:#5a8f00;
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffdd00), to(#ff7d00));
  background:-moz-linear-gradient(#ffdd00, #ff7d00);
  background:-o-linear-gradient(#ffdd00, #ff7d00);
  background:linear-gradient(#ffdd00, #ff7d00);
  -webkit-border-top-left-radius:220px 120px;
  -webkit-border-top-right-radius:220px 120px;
  -webkit-border-bottom-right-radius:220px 120px;
  -webkit-border-bottom-left-radius:220px 120px;
  -moz-border-radius:220px / 120px;
  border-radius:220px / 120px;
  top: -40%;
  left: -5%;
}

.oval-speech2 p {font-size:1.25em;}

.oval-speech2::after {
    content: "";
    position: absolute;
    bottom: -45px;
    left: 140px;
    border-width: 0 20px 50px 0px;
    border-style: solid;
    border-color: transparent #ff8400;
    display: block;
    width: 0;
}

.content {
    position: relative;
    z-index: 1;
}


.top {
  margin-top: -5%;
}

.flex-text {
  display: flex;
  flex-wrap: wrap;
}


